<div class="top-nav top-nav--unscrolled" id="topNavigation">
  <nav>
    <a href="#" class="top-nav__logo">FUN WEATHER.</a>
    <span class="top-nav__link">
      <a href="#" class="top-nav__link">Home</a>
      <a href="#" class="top-nav__link">Features</a>
      <a href="#" class="top-nav__link">Reviews</a>
      <a href="#" class="top-nav__link">Download</a>
    </span>
    <span class="top-nav__social">
      <a href="#">
        <img src="img/icons/facebook.svg" alt="Facebook">
      </a>
      <a href="#">
        <img src="img/icons/instagram.svg" alt="Instagram">
      </a>
      <a href="#">
        <img src="img/icons/twitter.svg" alt="Twitter">
      </a>
    </span>
  </nav>
</div>
<header>
  <div class="header__bottom">
    <a class="arrow">
      <img src="img/icons/arrow-down.png" alt="Go to bottom">
    </a>
  </div>
</header>
